# Build directories
obj/
bin/

# Object files
*.o
*.obj

# Executables
*.exe
*.out
nnc

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
